html {
    position: relative;
    min-height: 100%;
  }

body {
    background-image: url(Media/williams_stella_fossil_fuels_final.jpeg);
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Ibarra Real Nova', serif;
    /* margin for footer - adjust if changing height */
    margin-bottom: 30px;
}


h1 {
    font-family: 'Nova Cut', cursive;
    align-content: center;
    color: lightyellow;
    margin: 20px;
}

a {
    color:lightyellow !important;
    font-family: 'Ibarra Real Nova', serif;
    font-style: italic;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover {
    background-color: lightyellow;
    color: #1A3347 !important;
    font-style: normal;  
}

/* current tab notation for nav bar */
.current {
    text-decoration: underline;
}
.jumbotron {
    background: none;
    text-align: center;   
}

.lead {
    font-family: 'Ibarra Real Nova', serif;
    color: #1A3347;
    font-style: italic;
    background-color: lightyellow; 
    font-size: medium;
}

.card {
    background-color: goldenrod;
    color: #1A3347;
    text-align: center;
    margin: 25px !important;
}

.logo {
    color: goldenrod !important;
    font-family: 'Nova Cut', cursive;
    font-weight: 800;
}

.tl-left {
    border-right: 3px solid goldenrod;
    color: goldenrod;
}

.tl-right {
    border-left: 3px solid goldenrod;
    color: goldenrod;
}

.tl-small {
    border-top: 3px solid goldenrod;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: lightyellow;
}

.aboutContent {
    background-color: #1A3347;
    padding: 5px;
    float:  center;
    color: lightyellow;
}

/* .card-img-top {
    height: 200px;
} */

/* Method found at: https://css-tricks.com/snippets/css/drop-caps/ */
.aboutContent:first-child:first-letter {
    color: goldenrod;
    float: left;
    font-family: 'Nova Cut', cursive;
    font-size: 55px;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.text-muted {
    color: goldenrod;
}

.form-group {
    color: lightyellow;
    font-style: italic;
}

form {
    padding-bottom: 30px;
}
label {
    background-color:#1A3347;
    padding: 1px 3px 1px 3px;
}

.form-control {
    background-color: lightyellow !important;
}

.btn-primary {
    background-color: #1A3347;
    border: 1px solid lightyellow;
    font-style: italic;
    color: lightyellow;
}

.btn-primary:hover {
    background-color: goldenrod;
    color: #1A3347;
    border: 1px solid #1A3347;
}

.btn-primary:active {
    background-color: goldenrod;
    color: #1A3347;
    border: 1px solid #1A3347;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #1A3347;
    color: lightyellow !important;
    text-align: center;
    font-size: 10pt;
  }
  